h1{
    text-align: center;
}
html{
    font-size: large;
    font-weight: bold;
    font-family: "Bellota Text";
}
body{
    text-align: center;
    background-image: linear-gradient(to bottom right, #392270, #E9275B);
    max-width: 100%;
    height: auto;
}
#grid{
   
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    border: 10px solid black;
    box-shadow: 0 0 5px rgb(243, 21, 158);
    max-width: 400px;
    min-height: 400px;
    margin: 2rem auto;
}
.square{ 
    border: 1px solid rgb(243, 21, 158);
    background-color:white;
 }
 .slider{
     margin-left: 2rem;
 }
 .set-color{
     background-color: black;
 }

.option{
    margin:0.5rem;
    border:2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(243, 21, 158) inset;
    text-shadow: 0 0 7px white;
    font-family: inherit;
    transition: all 0.2s;
    padding: 0.5rem;
    
}
.transition{
    transform: scale(1.1);
    box-shadow: 0 0 5px rgb(243, 21, 158);
}
.range{
    -webkit-appearance: none;
    width: 15rem;
    height: 1rem;
    background: black;
    outline: none;
    border-radius: 7px;
    box-shadow: 0 0 2px rgb(243, 21, 158);
}
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background:rgb(243, 21, 158);
    border-radius: 50%;
    cursor: pointer;
}